<?xml version="1.0"?>
<config>
    <modules>
        <LMD_EasyPromoLightBox>
            <version>0.1.0</version>
        </LMD_EasyPromoLightBox>
    </modules>
    <frontend>
        <layout>
            <updates>
                <lmd_easypromolightbox>
                    <file>lmd_easypromolightbox.xml</file>
                </lmd_easypromolightbox>
            </updates>
        </layout>
        <routers>
            <lmd_easypromolightbox>
                <use>standard</use>
                <args>
                    <module>LMD_EasyPromoLightBox</module>
                    <frontName>lightbox</frontName>
                </args>
            </lmd_easypromolightbox>
        </routers>
    </frontend>
    <global>
        <models>
            <lmd_easypromolightbox>
                <class>LMD_EasyPromoLightBox_Model</class>
                <resourceModel>lmd_easypromolightbox_resource</resourceModel>
            </lmd_easypromolightbox>
            <lmd_easypromolightbox_resource>
                <class>LMD_EasyPromoLightBox_Model_Mysql4</class>
                <entities>
                    <lmd_easypromolightbox>
                        <table>lmd_easypromolightbox</table>
                    </lmd_easypromolightbox>
                </entities>
            </lmd_easypromolightbox_resource>
        </models>
        <blocks>
            <lmd_easypromolightbox>
                <class>LMD_EasyPromoLightBox_Block</class>
            </lmd_easypromolightbox>
        </blocks>
        <helpers>
            <lmd_easypromolightbox>
                <class>LMD_EasyPromoLightBox_Helper</class>
            </lmd_easypromolightbox>
        </helpers>
        <resources>
            <lmd_easypromolightbox_setup>
                <setup>
                    <module>LMD_EasyPromoLightBox</module>
                </setup>
            </lmd_easypromolightbox_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <lmd_easypromolightbox>
                    <file>lmd_easypromolightbox.xml</file>
                </lmd_easypromolightbox>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <lmd_easypromolightbox before="Mage_Adminhtml">LMD_EasyPromoLightBox_Adminhtml</lmd_easypromolightbox>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>